<link rel="stylesheet" href="/static/stylesheets/clientMenu.css">
<div id="clientMenu">
    <ul id="menuList">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>      
</div>