<link rel="stylesheet" href="/static/stylesheets/clientMenu.css">
<div id="clientMenu">
    <ul id="menuList">
        <li><a href="/clients/gallery">galerija</a></li>
        <li><a href="/clients/orderCreateForm">kurti užsakymą</a></li>
        <li><a href="#news">mano užsakymai</a></li>
        <li><a href="/clients/basket">krepšelis</a></li>
      </ul>      
</div>