
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    <i class="fas fa-home" style="color: white;"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/clients/gallery" style="color: white;">Galerija</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clients/individualOrderForm" style="color: white;">Pateikti užsakymą</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders/userOrders" style="color: white;">Mano užsakymai</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clients/basket" style="color: white;">Krepšelis</a>
      </li>
    </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span style="color: white; margin-right: 5px;"><% if(typeof email != 'undefined') { %><%=email%><% } %> </span> 
      <a href="/clients/options" style="color: white; margin-right: 5px;"><i class="fas fa-cog fa-lg"></i></a>  
      <a href="/account/logout"><button class="btn btn-outline-light" type="button">Atsijungti</button></a>
    </form>
  </div>
</nav>
