
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    <i class="fas fa-home" style="color: white;"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/clients/gallery" style="color: white;">Galerija</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/account/loginForm"><button class="btn btn-outline-light my-2 my-sm-0" type="button" style="margin-right: 5px;">Prisijungti</button></a>
      <a href="/account/registerForm"><button class="btn btn-secondary my-2 my-sm-0" type="button">Registruotis</button></a>
    </form>
  </div>
</nav>