
<script src="https://kit.fontawesome.com/676036ed41.js" crossorigin="anonymous"></script>
<div id="header">
    <ul>
        <li><a href="/inventory"><i class="fas fa-home"></i></a></li>
        <li><a href="/account/logout">Atsijungti</a></li>
      </ul>
</div>