body {
    margin: 0;
    padding: 0;
    margin-left: 15em;
    margin-right: 15em;
}

#header {
    background-color: lightslategrey;
    height: 50px;
}

#content {
    height: auto;
    min-height: 800px;
}
