<link href="/static/stylesheets/signin.css" rel="stylesheet">
<body class="text-center">
    
    <main class="form-signin">
      <form method="POST" action="/account/sendNewPassword" enctype="application/x-www-form-urlencoded">
        
        <h1 class="h3 mb-3 fw-normal">Įveskite savo el. pašto adresą</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" value="<%if(typeof fields.email != 'undefined'){%><%=fields.email%><%}%>">
          <label for="floatingInput">El. paštas</label>
        </div>
        <br>
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">Siųsti</button>

      </form>
      <br>
      <% if(typeof errorsList != 'undefined') { %>
        <% errorsList.forEach(function(error) {  %> 
            <div class="alert alert-danger" role="alert">
                <%= error.message %>
              </div><br>
        <% }) %>
    <% } %> 
    
    <% if(typeof successMessage != 'undefined') { %>
      <div class="alert alert-info" role="alert">
          <%= successMessage %>
      </div><br>
    <% } %> 
    </main>
</body>
