<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Namai</a></li>
    <li class="breadcrumb-item active"><a href="#">Krepšelis</a></li>
  </ol>
</nav>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<link rel="stylesheet" href="/static/stylesheets/basket.css">
<script src="/static/javascripts/basket.js"></script>

        <div class="wrap cf">
           
            <div class="heading cf">
              <h1>Krepšelis</h1>
              <a href="/clients/gallery" class="continue">Grįžti į galeriją</a>
            </div>
            <div class="cart">
        
              <ul class="cartWrap">

                <div id="basketList">



                </div>
           
              </ul>
            </div>
            
            <div class="subtotal cf">
              <ul>
                <li class="totalRow final"><span class="label">Suma</span><span class="value" id="totalValue"></span> &euro; </li>
                <li class="totalRow"><a href="#" onclick="createOrder()" class="btn continue" id="createOrderBtn">Toliau</a></li>
              </ul>
            </div>
          </div>

    </div>

<script>
    $(document).ready(function() {
      
        let basketItems = localStorage.getItem('basketItems');
        basketItems = JSON.parse(basketItems)
        
        if(basketItems != null){
          for(let i = 0; i<basketItems.length;i++)
          {
            let itemPrice = basketItems[i].price;
            let itemQty = basketItems[i].quantity;
            let itemTotal = itemPrice * itemQty;
            basketItems[i].total = itemTotal;
          }

            $("#myTemplate").tmpl(basketItems).appendTo("#basketList");  
            
            calculateTotal();
        }else{
          let createOrderBtnDOM = document.getElementById("createOrderBtn");
          createOrderBtnDOM.hidden = true;
        }


        // Remove Items From Cart
      $('a.remove').click(function(){
        event.preventDefault();
        $( this ).parent().parent().parent().hide( 400 );
        setBasketItemsAmount(); //this function is in headerLoggedIn.ejs file
      })

      
    });

</script>

<script id="myTemplate" type="text/x-jquery-tmpl">
    
  <li class="items odd">
    <div class="infoWrap"> 
      <div class="cartSection">
        
        <img src="${photo}" class="itemImg" />
        <p class="itemNumber">#id${id}</p>
        <h3>${name}</h3>
    
          <p> <input type="number" id="itemQuantity-${id}"  class="qty" value="${quantity}" min="1" max="${inStock}" oninput="updateItemTotal(${id}, ${price}, 'itemQuantity-${id}', 'itemTotal-${id}')"  /> x ${price} &euro; </p>
          
      </div>  

    
      <div class="prodTotal cartSection">
        <p> <span id="itemTotal-${id}" class="itemsTotals" >${total}</span> &euro; </p>
      </div>
        <div class="cartSection removeWrap">
          <a class="remove" onclick=remove_from_basket(${id})>x</a>
        </div>
    </div>
  </li>

</script>
