<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Namai</a></li>
      <li class="breadcrumb-item active"><a href="#">Nustatymai</a></li>
    </ol>
</nav>
<div class="container" style="padding: 0 0 20px 0; margin-left: 10px; margin-right: 10px;" >

    <div class="shadow p-3 mb-5 rounded" style="width: 400px; min-height: 500px;">
        <a href="/account/clientUserDelete" onclick="return confirm('Ar tikrai norite uždaryti savo paskyrą ?')">Uždaryti paskyrą</a><br>
        <a href="#">Pasikeisti slaptažodį</a>
    </div>

</div>

