<div class="container" style="padding: 0 0 20px 0; margin-left: 10px; margin-right: 10px;" >

    <div class="shadow p-3 mb-5 rounded" style="width: 500px; min-height: 500px;">
        <form method="POST" action="/administration/workerCreate" encType="multipart/form-data">

            <div class="mb-3 row">
                <label for="name" class="col-sm-2 col-form-label">Vardas</label>
                <div class="col-sm-5">
                  <input type="text" name="name" class="form-control" id="name" value="<% if(typeof fields.name != 'undefined') { %><%=fields.name%><% } %>">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">El. paštas</label>
                <div class="col-sm-5">
                  <input type="text" name="email" class="form-control" id="email" value="<% if(typeof fields.email != 'undefined') { %><%=fields.email%><% } %>">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Slaptažodis</label>
                <div class="col-sm-5">
                  <input type="text" name="password" class="form-control" id="password" value="<% if(typeof fields.password != 'undefined') { %><%=fields.password%><% } %>">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Išsaugoti</button>

        </form><br> 

        <% if(typeof errorsList != 'undefined') { %>
          <% errorsList.forEach(function(error) {  %> 
              <div class="alert alert-danger" role="alert">
                  <%= error.message %>
                </div><br>
          <% }) %>
      <% } %> 
    </div>

</div>