<h3>REGISTRATION FORM</h3>
    <form method="POST" action="/account/register" enctype="application/x-www-form-urlencoded">
        <input type="text" name="username"><br>
        <input type="password" name="password"><br>
        <input type="submit" value="register">
    </form>
 