<ul>
    <li><a href="/inventory/potteryList">tvarkyti keramikos dirbinius </a></li>
    <li><a href="/inventory">užsakymai</a></li>
    <li><a href="/inventory">ataskaitos</a></li>
    <li><a href="/inventory/manageMaterials">medžiagų tvarkymas</a></li>
  </ul>